*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color: #353a3d;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;

  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  max-width: 1170px;
  /*    max-width: 1313px;*/
  margin: 0 auto;
  text-align: center;
}

.title {
  color: #18b4cf;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;

  padding: 51px 0;
}

/*Header section*/
.header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;

  width: 100%;
  height: 70px;

  background-color: #313131;
}

.logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.logo__img {
  padding: 0 27px;
}

.logo__text {
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
}

.menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.menu__item + .menu__item {
  margin-left: 35px;
}

.menu__link {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;

  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu__link:hover {
  color: #14b9d5;
}

.search-wrapper {
  background-color: #000;

  padding: 26px;
}

.search-wrapper .fa-search {
  color: #fff;
}

/*Intro section*/
.intro {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 369px;

  background-image: url(../img/bg/intro-bg.jpeg);
  background-attachment: fixed;
  background-position: -0 -290px;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  height: 369px;
  width: 100%;
  background: rgba(0 0 0 / 0.3);
}

.parallax__elem_2 {
  transform: translateZ(-1px);
}

.intro__title {
  color: #fff;
  font-size: 27px;
  font-weight: 700;

  padding-top: 163px;
}

.btn-wrapper {
  margin-top: 45px;
}

.btn {
  display: inline-block;
  font-weight: 600;

  width: 170px;

  border-radius: 7px;
  background-color: #89ca62;

  padding: 17px 0;
}

.btn + .btn {
  margin-left: 20px;
}

.btn-blue {
  background: #14b9d5;
}

/*Most popular post*/
.Most-popular-post {
  padding-top: 49px;
  padding-bottom: 72px;
  background: #f2f2f2;
}

.popular-gallery {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.popular-gallery-cards-wrapper {
  display: block;
}

.popular-gallery-cards-wrapper + .popular-gallery-cards-wrapper {
  margin-left: 30px;
}

.popular-gallery-card {
  height: 100%;
  width: 370px;
  overflow: hidden;

  background: #fff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.popular-gallery-card + .popular-gallery-card {
  margin-top: 30px;
}

.popular-gallery-card__img {
  display: block;
  width: 100%;
}

.popular-gallery-card__title {
  font-weight: 700;
  background: #fff;
  color: #353a3d;

  padding: 21px 12px;
}

/*Our most popular clients*/
.our-most-popular-clients {
  background-image: url(../img/bg/Our-most-popular-clients-bg.jpeg);
  background-position: 0 -41px;
  background-attachment: fixed;

  height: 588px;

  padding-top: 106px;
}

.our-most-popular-clients__title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.our-most-popular-clients__title::after {
  content: "";
  display: block;
  margin: 87px auto 100px;

  width: 60px;
  height: 3px;

  background: #18b4cf;
}

.our-most-popular-clients__img-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -ms-align-items: center;
  align-items: center;
  justify-items: center;
}

/*Top rotate section*/
.top-rotate__img-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  overflow-x: hidden;
}

/*Hot news section*/
.news-gallery {
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template-areas:
    "news-item1 news-item1 news-item1 news-item1 news-item1 . news-item2"
    "news-item3 news-item3 news-item3 . news-item4 news-item4 news-item4"
    "news-item5 news-item5 news-item5 . news-item6 news-item6 news-item6"
    "news-item7 . news-item8 news-item8 news-item8 news-item8 news-item8";
  grid-template-columns: 1fr 30px 1fr 60px 1fr 30px 1fr;
  grid-template-rows: 259px 418px 418px 259px;
  grid-gap: 42px 0;

  padding-bottom: 77px;
}

.news-item1 {
  grid-area: news-item1;
}

.news-item2 {
  grid-area: news-item2;
}

.news-item3 {
  grid-area: news-item3;
}

.news-item4 {
  grid-area: news-item4;
}

.news-item5 {
  grid-area: news-item5;
}

.news-item6 {
  grid-area: news-item6;
}

.news-item7 {
  grid-area: news-item7;
}

.news-item8 {
  grid-area: news-item8;
}

.news-gallery__text {
  text-align: right;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
  background-color: #f9f7f7;
  padding: 15px;
}

.news-gallery__text.center {
  text-align: center;
  padding: 15px 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.news-gallery__title {
  color: #353a3d;
  font-size: 18px;
  font-weight: 700;
}

.news-gallery__description {
  color: #5b6469;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-top: 15px;
}

.news-gallery__link {
  display: grid;
}

.news-gallery__link.medium {
  grid-template-columns: 483px 374px;
  grid-template-rows: 259px;
}

.news-gallery__link.small {
  grid-template-columns: 277px;
  grid-template-rows: 208px;
}

.news-gallery__link.big {
  grid-template-columns: 554px;
  grid-template-rows: 259px 159px;
}

/*Footer section*/
.footer {
  background-color: #1d2124;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
}

.footer-content {
  display: grid;
  /*    grid-template-columns: repeat(2, 1fr);*/
  grid-template-columns: 1.5fr 1fr;
  padding: 25px;
}

.footer-text {
  align-self: center;
}

.logo {
  place-self: end;
  align-self: center;
}

.logo-img {
  vertical-align: middle;
}
