*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 300;

    background-color: var(--bg-light);
}

a {
    color: var(--text-black);
    text-decoration: none;
    cursor: pointer;
}
li {
    cursor: pointer;
}

:root {
    --text-white: #FFFFFF;
    --text-gray: #333333;
    --text-black: #000000;
    --placeholder: #C4C4C4;

    --bg-white: #FFFFFF;
    --bg-light: #EFEFEF;
}

:root[data-theme="dark"] {
    --text-white: #2d2c2c;
    --text-gray: #b5b5b5;
    --text-black: #fff;
    --placeholder: #b7b6b6;

    --bg-white: #2d2c2c;
    --bg-light: #555555;
}

.container {
    width: 1110px;
    text-align: center;
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 40px;

    border: 2px solid #66C05D;
    background-color: rgba(255,255,255,0);
    border-radius: 100px;

    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.btn:hover {
    background-color: #66C05D;
    color: var(--text-white);
}

.btn__white {
    border: 1px solid #fff;
    color: var(--text-white);
}

.btn__white:hover {
    background-color: var(--bg-light);
    color: var(--text-black);
}


/*Header section*/

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-top {
    background: var(--bg-white);
    padding: 17px 0;
}

.nav-top__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-top__item {
    text-transform: capitalize;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;

    color: var(--text-black);
}

.nav-top__item a:hover {
    color: #66C05D;
}

.nav-top__item + .nav-top__item {
    margin-left: 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__text {
    color: #66C05D;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;

    margin-left: 20px;
}

.nav-center {
    display: flex;
    justify-content: space-between;

    padding: 20px 0;
}

.nav-center__callback-tel {
    margin-right: 70px;
    font-size: 16px;
}

.nav-bottom {
    border-top: 1px solid #EFEFEF;
    padding: 30px 0;
}

.nav-bottom__item {
    font-size: 16px;
}

.nav-bottom__item a {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: var(--text-black);
}

.nav-bottom__item a:hover {
    color: #66C05D;
}

.nav-bottom__item + .nav-bottom__item {
    margin-left: 40px;
}




/*Intro section*/
.intro-section {
    background-image: url(../img/bg.png);
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100vw;
    height: 604px;
}

.intro-content {
    width: 308px;
    text-align: left;

    margin: 0;
    padding: 192px 0;
}

.intro__title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;

    margin-bottom: 50px;
}

.intro__subtitle {
    color: #fff;
    margin-bottom: 50px;
}

.intro-content .btn {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}




/*Special offers*/
.special-offers {
    background: var(--bg-light);
    padding-top: 80px;
    padding-bottom: 133px;
}
.offers__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.special-offers__title {
    color: var(--text-black);
    font-size: 24px;
    font-weight: 700;
    text-align: left;

    margin-bottom: 38px;
}

.offers__card-item {
    background-color: var(--bg-white);

    width: 255px;
    height: 363px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;
}

.offers__card-product {
    margin-bottom: 20px;
}

.offers__card-description {
    color: var(--text-gray);
    margin-bottom: 20px;
}

.offers__card-price {
    color: var(--text-black);
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1px;

    margin-bottom: 20px;
}

.offers__card-btn {
    background-color: #66C05D;
    color: var(--text-white);
    padding: 9px 40px;
    border-radius: 30px;
}

.banner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 100px;
}

.banner {
    display: flex;
    justify-content: space-between;

    text-align: left;
    background-color: #66C05D;
    width: 540px;
    height: 212px;

    padding: 35px 40px;
}

.banner__content {
    color: var(--text-withe);
    width: 250px;
}

.banner__title {
    font-size: 18px;
    font-weight: 700;

    margin-bottom: 25px;
}

.banner__subtitle {
    line-height: 20px;
    margin-bottom: 25px;
}

.banner__input {
    background: var(--bg-white);
    border-radius: 30px;
    border: none;

    padding: 9px 25px;
}

.banner__input::placeholder {
    color: var(--placeholder);
}
