*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

#root {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    width: 97vw;
    height: 97vh;
}
.output-wrapper {
    opacity: 0;

    margin-bottom: 40px;
}
.output-prise {
    background-color: #2cde55;
    border-radius: 15px;

    color: #fff;
    text-transform: lowercase;

    padding: 10px 15px;
}

.out__close-button {
    margin-left: 50px;
    font-family: sans-serif;
    cursor: pointer;
}

.lable {
    font-size: 20px;
    text-transform: uppercase;
}

.input {
    border: 2px solid black;
    border-radius: 10px;
    outline: none;

    padding: 5px 10px;
    margin-left: 20px;
}

.input:focus,
.input:active {
    border: 2px solid green;
}

.error {
    opacity: 0;

    background-color: #f24f31;
    border-radius: 15px;

    padding: 10px 15px;
    margin-top: 40px;
}

